@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* <title>Danh Sách Cà Phê</title> *@
    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> *@
</head>
<body>
    <div class="row">
        @foreach (var coffee in Model)
        {
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="@coffee.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@coffee.Name</h5>
                        <p class="card-text">@coffee.Description</p>
                        <p class="card-text">@coffee.Price</p>
                        <p class="card-text">@coffee.Type</p>
                    </div>
                    <button class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButtonBase-root  css-jkrzzo" tabindex="0" type="button">Buy Coffee<span class="MuiTouchRipple-root css-w0pj6f"></span></button>
                </div>
            </div>
        }
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>